<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/hostel_saathi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApp"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".LeaveReport"
            android:exported="false" />
        <activity
            android:name=".CompMess"
            android:exported="false" />
        <activity
            android:name=".CompWifiReport"
            android:exported="false" />
        <activity
            android:name=".CompReportInfra"
            android:exported="false" />
        <activity
            android:name=".MessComp"
            android:exported="false" />
        <activity
            android:name=".WifiComp"
            android:exported="false" />
        <activity
            android:name=".InfraComp"
            android:exported="false" />
        <activity
            android:name=".NewCompPage"
            android:exported="false" />
        <activity
            android:name=".leav_apply"
            android:exported="false" />
        <activity
            android:name=".complaint_report"
            android:exported="false" />
        <activity
            android:name=".Page_2_new"
            android:exported="false" />
        <activity
            android:name=".feature_page_real"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>